/*
 * @Author: liva
 * @Date: 2019-07-12 11:32:39
 * @LastEditors: liva
 * @LastEditTime: 2019-07-12 14:27:17
 */

/* 底部导航栏 */
.navbar {
  display: flex;
  position: fixed;
  box-sizing: border-box;
  bottom: 0;
  width: 100%;
  max-width: 640px;
  height: 2.5rem;
  border-top: 1px solid #ddd;
  z-index: 200;
  background: #f8f8f8;
  text-align: center;
}
/* 导航项目 */
.navbar > .navbar-item {
  flex: 1;
  color: #808080;
}
/* 被选中的样式 */
.navbar > .navbar-item.active {
  color: #09bb07;
}
/* 导航图标 */
.navbar > .navbar-item > .icon {
  padding: 0.3rem 0.1rem;
  font-size: 1.1rem;
}
/* 导航名称 */
.navbar > .navbar-item > .name {
  display: block;
  font-size: 0.5rem;
}
