/* 结果提示页样式 */
/* 结果提示图标 */
.page-result .result-icon {
  display: block;
  margin: 2rem auto 1rem;
  width: 4rem;
  height: 4rem;
  line-height: 4rem;
  font-size: 2.5rem;
  background: #09bb07;
  border-radius: 50%;
  color: #fff;
}
/* 操作结果 */
.page-result .result-info {
  text-align: center;
  font-size: 1rem;
  color: #555;
}
/* 结果详细信息 */
.page-result .result-detail {
  margin-top: 0.5rem;
  text-align: center;
  font-size: 0.8rem;
  color: #aaa;
}
/* 跳转按钮 */
.page-result .result-btn {
  display: block;
  width: 5rem;
  margin: 1rem auto;
  padding: 0.3rem 0;
  color: #09bb07;
  border-color: #09bb07;
}
/* 错误情况下的提示图标 */
.page-result .result-error .result-icon {
  background: #fa5151;
}
/* 错误情况下的按钮图标 */
.page-result .result-error .result-btn {
  color: #999;
  border-color: #999;
}
